# ── API ────────────────────────────────
API_PORT=8000

# ── MongoDB ────────────────────────────
MONGO_PORT=27017
MONGO_URI=mongodb://mongodb:27017

# ── Milvus ─────────────────────────────
MILVUS_PORT=19530
MILVUS_HOST=milvus

# ── Frontend ───────────────────────────
FRONTEND_PORT=4200

# ── Clés API (à renseigner) ────────────
YOUTUBE_API_KEY=
LICHESS_API_TOKEN=
OPENAI_API_KEY=
