# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Environnement
.env

# Docker
.docker/

# Node / Angular
node_modules/
frontend/dist/
frontend/.angular/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
